p 2021. stdurb + clcmo. All credits to Yago Estevez.
// partial
script(src='https://unpkg.com/react@16/umd/react.production.min.js')
script(src='https://unpkg.com/react-dom@16/umd/react-dom.production.min.js')
script(src='./script/script.js')