doctype html
head
  meta(charset='UTF-8')
  title Camila L. Oliveira
  meta(content='#181d23' name='theme-color')
  meta(content='IE=edge' http-equiv='X-UA-Compatible')
  meta(name='author' content='Camila Oliveira')
  meta(name='description' content='Portfolio Website')
  meta(name='keywords' content='portfolio, css, javascript, software, coding, programming, web, mobile, development, developer, fullstack, frontend')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Oleo+Script')
  link(href='https://heyurb.portalurbanna.com.br/assets/fonts/kollektif/stylesheet.css' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='./style/style.css')
// partial:index.partial.html